<div class="container mb-5" style="margin-top: 50px;">

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="text-center">
      <h4>Kayıt Ol</h4>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <div class="row">
            <label for="gender" class="font-weight-bold col-form-label-sm">Cinsiyet : </label>
            <div class="col-sm-10">
              <div class="form-check form-check-inline">
                <input class="form-check-input" id="gender" type="radio" [value]="0" formControlName="gender">
                <label class="form-check-label col-form-label-sm" for="male">Erkek</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" id="gender" type="radio" [value]="1" formControlName="gender">
                <label class="form-check-label col-form-label-sm" for="female">Kadın</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="ad" class="font-weight-bold col-form-label-sm">Ad </label>
            <input type="text" class="form-control form-control-sm" placeholder="Ad" id="name" formControlName="name" [value]="this.registerForm.controls.name.value | uppercase" textOnly >
            <app-validator [control]="this.registerFormControls.name"></app-validator>
          </div>
          <div class="form-group col-md-6">
            <label for="ad" class="font-weight-bold col-form-label-sm">Soyad </label>
            <input type="text" class="form-control form-control-sm" placeholder="Soyad" id="surname"
              formControlName="surname" [value]="this.registerForm.controls.surname.value | uppercase" textOnly>
            <app-validator [control]="this.registerFormControls.surname"></app-validator>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="eposta" class="font-weight-bold col-form-label-sm">E-Posta </label>
            <input type="email" class="form-control form-control-sm" id="email" placeholder="E-Posta"
              formControlName="email">
            <app-validator [control]="this.registerFormControls.email"></app-validator>
          </div>
          <div class="form-group col-md-6">
            <label for="sifre" class="font-weight-bold col-form-label-sm">Şifre </label>
            <input type="password" class="form-control form-control-sm" id="password" placeholder="Şifre" [maxlength]="15"
              formControlName="password">
            <app-validator [control]="this.registerFormControls.password"></app-validator>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="kullaniciAdi" class="font-weight-bold col-form-label-sm">Kullanıcı Adı </label>
            <input type="text" class="form-control form-control-sm" placeholder="Kullanıcı Adı" id="username"
              formControlName="username">
            <app-validator [control]="this.registerFormControls.username"></app-validator>
          </div>
          <div class="form-group col-md-6">
            <label class="font-weight-bold col-form-label-sm">Doğum Tarihi </label>
            <input type="date" class="form-control form-control-sm" placeholder="Doğum Tarihi"
              formControlName="dateOfBirth"  min="1923-01-01" max="{{ this.ch.convertFormattedDate(this.dateHelper.now) }}">
            <app-validator [control]="this.registerFormControls.dateOfBirth"></app-validator>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="ad" class="font-weight-bold col-form-label-sm">Ülke </label>
            <input type="text" class="form-control form-control-sm" placeholder="Türkiye" id="country" value="Türkiye"
              label="Türkiye" disabled formControlName="country">
          </div>
          <div class="form-group col-md-6">
            <label for="city" class="font-weight-bold col-form-label-sm">Şehir</label>
            <select name="city" placeholder="Şehir" class="custom-select custom-select-sm" id="city"
              formControlName="city">
              <option class="dropdown-item" disabled selected value="">Şehir Seçiniz</option>
              <option *ngFor="let key of provinceKeys; index as i" [value]="key" [label]="provinceEnum[key]">
              </option>
            </select>
            <app-validator [control]="this.registerFormControls.city"></app-validator>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="resim" class="font-weight-bold col-form-label-sm">Sokak Adı </label>
            <input type="text" class="form-control form-control-sm" placeholder="Sokak Adı" id="streetName"
              formControlName="streetName">
            <app-validator [control]="this.registerFormControls.streetName"></app-validator>
          </div>
          <div class="form-group col-md-6">
            <label for="zipCode" class="font-weight-bold col-form-label-sm">Posta Kodu </label>
            <input type="number" class="form-control form-control-sm" placeholder="Posta Kodu" id="zipCode" maxlength="5" minlength="5"
              formControlName="zipCode" numbersOnly>
            <app-validator [control]="this.registerFormControls.zipCode"></app-validator>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="introduction" class="font-weight-bold col-form-label-sm">Adres</label>
            <textarea required class="form-control form-control-sm" placeholder="Adres" rows="5"
              formControlName="fullAddress"></textarea>
            <app-validator [control]="this.registerFormControls.fullAddress"></app-validator>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="introduction" class="font-weight-bold col-form-label-sm">Hakkımda</label>
            <textarea required class="form-control form-control-sm" placeholder="Hakkımda" rows="5"
              formControlName="introduction"></textarea>
            <app-validator [control]="this.registerFormControls.introduction"></app-validator>
          </div>
          <div class="form-group col-md-6">
            <label for="hobbies" class="font-weight-bold col-form-label-sm">Hobilerim</label>
            <textarea required class="form-control form-control-sm" placeholder="Hobilerim" rows="5"
              formControlName="hobbies"></textarea>
            <app-validator [control]="this.registerFormControls.hobbies"></app-validator>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="resim" class="font-weight-bold col-form-label-sm">Profil Resmi Url </label>
            <input type="text" class="form-control form-control-sm" placeholder="Profil Resmi Url" id="imageUrl"
              formControlName="imageUrl">
            <app-validator [control]="this.registerFormControls.imageUrl"></app-validator>
          </div>
          <div class="form-group col-md-6">
            <label for="resim" class="font-weight-bold col-form-label-sm">Telefon Numarası </label>
            <input type="text" class="form-control form-control-sm" placeholder="Telefon Numarası" id="phoneNumber"
              formControlName="phoneNumber" maxlength="11" minlength="11" numbersOnly>
            <app-validator [control]="this.registerFormControls.phoneNumber"></app-validator>
          </div>
        </div>
        <hr class="my-4">
        <button class="w-100 btn btn-primary btn-sm" type="submit" [disabled]="registerForm.invalid">Kayıt İşlemini
          Tamamla</button>
      </div>
    </div>
  </form>

</div>
