<div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white ">
  <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-5">B<span class="d-none d-sm-inline">rand</span></span>
  </a>
  <h4 class="text-primary">Yönetici Paneli</h4>
  <hr />
  <ul
    class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start list-group list-group-flush"
    id="menu">
    <li class="nav-item list-group-item list-group-item-action active bg-light">
      <a [routerLink]="['home']" routerLinkActive="active" class="nav-link"> <i class="fs-5 bi-house"></i><span
          class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-user"></i>
          &nbsp;Ana Sayfa</span></a>
    </li>
    <li class="nav-item list-group-item list-group-item-action active bg-light">
      <a [routerLink]="['users']" routerLinkActive="active" class="nav-link"> <i class="fs-5 bi-house"></i><span
          class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-user"></i>
          &nbsp;Kullanıcılar</span></a>
    </li>
    <li class="nav-item list-group-item list-group-item-action active bg-light">
      <a [routerLink]="['books']" routerLinkActive="active" class="nav-link">
        <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-book"></i>
          &nbsp;Kitaplar</span> </a>
    </li>
    <li class="nav-item list-group-item list-group-item-action active bg-light">
      <a [routerLink]="['authors']" routerLinkActive="active" class="nav-link">
        <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline"><i class="fa-sharp fa-solid fa-feather"></i>
          Yazarlar</span></a>
    </li>
  </ul>
</div>
